[Unit]
Description=Suspicious dog
After=network.target

[Service]
Type=simple
WorkingDirectory=/Suspicious-Dog/
ExecStart=/Suspicious-Dog/suspiciousdog.py
RestartSec=1min
Restart=on-failure
User=nagios

[Install]
WantedBy=multi-user.target
